header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(255,200,0);

    height: 130px;

    justify-content: space-between;
    text-align : center;
  }

body{
    background-color:rgb(255,200,0);
    text-align : center;
    font-family :'Times New Roman', Times, serif;
    line-height: 1.5;
    padding-top: 100px;
}

h3{
    margin-left : 10%;
    margin-right : 10%;
    font-weight : normal;
    font-size : 30px;
}

h4{
    margin-left : 10%;
    margin-right : 10%;
    font-weight : normal;
    font-size : 30px;
    text-align : left;
}

h5{
    margin-top : 50px;
    font-weight : 100;
    font-size : 23px;
}

h6{
    font-weight : 100;
    font-size : 20px;
    text-align: left;
    margin-left : 15%;
}


ul{
    text-align: left;
    margin-left : 35%
}

a {
    color: #F00;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;

  }

a:hover, a:active, a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
  }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }
  
.content {
    padding: 3rem;
    font-size: 2rem;
    border-radius: 1rem;
  }

::selection {
    color: rgb(255,200,0);
    background: red;
}


@media only screen and (max-width: 768px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    
        background-color: rgb(255,200,0);
    
        height: 130px;
    
        justify-content: space-between;
        text-align : center;
      }
    
    body{
        background-color:rgb(255,200,0);
        text-align : center;
        font-family :'Times New Roman', Times, serif;
        line-height: 1.5;
        padding-top: 100px;
    }
    
    h2{
        margin-left : 10%;
        margin-right : 10%;
        font-weight : bold;
        font-size : 22px;
    }

    h3{
        margin-left : 10%;
        margin-right : 10%;
        font-weight : normal;
        font-size : 20px;
    }
    
    h4{
        margin-left : 10%;
        margin-right : 10%;
        font-weight : normal;
        font-size : 20px;
        text-align : left;
    }
    
    h5{
        margin-top : 50px;
        font-weight : 100;
        font-size : 16px;
    }
    
    h6{
        font-weight : 100;
        font-size : 15;
        text-align: left;
        margin-left : 15%;
    }
    
    
    ul{
        text-align: left;
        margin-left : 15%
    }
    
    a {
        color: #F00;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        text-decoration: none;
    
      }
    
    a:hover, a:active, a:focus {
        color: #000;
        outline: none;
        text-decoration: none;
      }
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100dvh;
      }
      
    .content {
        padding: 3rem;
        font-size: 2rem;
        border-radius: 1rem;
      }
    
    ::selection {
        color: rgb(255,200,0);
        background: red;
    }
    


}
